/*GÉNÉRAL*/
*{
    padding: 0;
    margin: 0;
}
header,html,body,section{
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
}
h2, span{
    font-family: 'Merriweather', serif;
}
body{
    display: flex;
    flex-direction: column;
    height : 150%;
    color : #312b2e;
    font-family: 'Montserrat', sans-serif;
}
/*HEADER*/
#top{
    height: 8%;
    display: flex;
    background-color: #C0682A;
    border-bottom: 1px solid #312b2e;
}
#crown, nav{
    height:100%;
    width:50%;
}
#crown{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#crown img{
    height : 60%;
    width: auto;
    margin-left : 5%;
}
#crown h1{
    margin :auto 5% auto 3%;
    color:white;
    font-size : 2em;
    font-family: 'Merriweather', serif;
}
/*MENU NAV*/
nav{
    height : 100%;
    width:  100%;
    display:  flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul{
    display :flex;
    justify-content: flex-end;
    align-items : center;
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    color : white;
    padding-right: 20px;
    font-size: 1.3em;
}
nav li a:hover{
    color : #312b2e;
}
/*PAGE SECTION*/
#middle{
    height: 125%;
    display:flex;
    flex-direction: column;
}
#middle_title{
    height: 10%;
    display : flex;
}
#middle_title h2{
    margin:auto;
    border-left: 3px solid  #C0682A;
    padding-left: 1%;
    font-size: 2em;
}
#vignets{
    height:90%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#vignets div{
    height : 37%;
    width: 35%;
    display : flex;
    box-shadow: 0px 0px 10px  #312b2e;
    margin-top : 2% 0 2% 0;
    background-color:#312b2e ;
}
#vignets div:hover{
    transform: scale(0.9);
}
.bloc1 a , .bloc2 a, .bloc3 a, .bloc4 a{
    text-decoration : none;
    height: 100%;
    width:100%;
    position: relative;
    display: flex;
}
.bloc1 a span, .bloc2 a span, .bloc3 a span, .bloc4 a span{
    font-size : 1.6em;
    color:#312b2e;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bloc1 a img, .bloc2 a img, .bloc3 a img, .bloc4 a img{
    width:90%;
    height:85%;
    margin:auto;
}

/*FOOTER*/
footer{
    border-top: 2px solid #312b2e;
    height: 17%;
    background-color : #312b2e;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
}
footer p{
    color : white;
    margin : 10px 10px;
}
/*MEDIA MOBILE VERSION*/
@media (max-width: 600px){
    #crown h1, #middle_title h2{
        font-size: 1em;
    }
    #nav{
        font-size: 0.9em;
    }
    h3, #lien_bloc{
        font-size: 0.8em;
    }
    p{
        font-size: 0.6em;
    }
    #img_crown{
        height:50%;
    }
    #vignets div{
        height: 23%;
        width: 53%;
    }
}